@import '../../styles/variables.scss';
@import '../../styles/placeholders.scss';

.header {
    @extend %flex-center;
    top: 0;
    left: 0;
    position: sticky;
    z-index: 1100;
    min-height: 64px;
    padding-right: 24px;
    padding-left: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: $main-blue;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
        0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    display: flex;
    justify-content: space-between;

    &__icon {
        margin-left: 20px;
        width: 30px;
        height: auto;
    }
}

.searchForm {
    @extend %flex-center;
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    border-radius: 3px;
    overflow: hidden;

    &__button {
        @extend %button-set;
        width: 48px;
        height: 48px;
        background-image: url("https://image.flaticon.com/icons/svg/149/149852.svg");
        background-size: 40%;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0.6;
        outline: none;

        &:hover {
            opacity: 1;
        }
    }

    &__button-label {
        position: absolute;
        width: 1px;
        height: 1px;
        overflow: hidden;
    }

    &__input {
        width: 100%;
        font-family: inherit;
        font-size: $main-font-size;
        border: none;
        outline: none;
        padding-left: 4px;
        padding-right: 4px;

        &::placeholder {
            afont-size: 18px;
        }
    }

}